<!DOCTYPE html>
<html lang="en">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- disabled selected -->
    <form  action="/show_form" method="post">
        <div id="bigdiv" class="flexbox">
            <h1>Create Your Own Form</h1>
            <label for="1">Field Name:</label>
            <input type="text" placeholder="enter name of the label" id="1" name="1">
            <label for="50">Field Type:</label>
           
            <!-- <input type="text" placeholder="enter data type of label" id="50" name="50"> -->
            <select name="50" id="50" >
                <option value="" aria-disabled="true" disabled selected>choose the label type</option>
                <option value="text">text</option>
                <option value="date">date</option>
                <option value="number">number</option>
              </select>


            <input type="hidden" id="counter" name="counter"  >

        </div>
        <div class="lastbox">
            <!-- <div class="addfieldbox"> -->
                <button type="button" id="add">Add Field</button>
            <!-- </div> -->
            <!-- <div class="submitbtn"> -->
                <button type="submit">Create Form</button>
            <!-- </div> -->
        </div>
        
    </form>


<script >
        
    let nameid = 2
    let  typeid= 2

    document.getElementById("counter").value=2



    document.getElementById("add").addEventListener("click",add)


    function add(){
        console.log("adding field")

        var newline=document.createElement("hr")
        document.getElementById("bigdiv").appendChild(newline);


       var  div=document.createElement("div")
       div.setAttribute("class","divclasses");

       document.getElementById("bigdiv").appendChild(div);


        var newlabel = document.createElement("Label");
        newlabel.setAttribute("for",nameid);
        newlabel.innerHTML = "Field Name:";
        div.appendChild(newlabel);
        
        // document.getElementById("bigdiv").addEventListener("click",clicked(Event))

        const newinput = document.createElement("input");  
        newinput.type = "text";  
        newinput.placeholder="enter name of the label"
        newinput.setAttribute("name",nameid)
        div.appendChild(newinput);
        // id+=1
        var newlabel2 = document.createElement("Label");
        newlabel2.setAttribute("for",typeid);
        newlabel2.innerHTML = "Field Type:";
        div.appendChild(newlabel2);


        // function clicked(Event){
        //     let clickedfield = Event.target.getAttribute("id");


        // }




// document.getElementById('select').appendChild(SELECT);




        const newinput2 = document.createElement("select");  
        newinput2.type = "text";  
        newinput2.placeholder="enter data type of label"
        // newinput2.setAttribute("option")
        newinput2.setAttribute("name",typeid)

        var OPT0 = document.createElement('option');
        OPT0.setAttribute('value', "");
        OPT0.setAttribute('aria-disabled',"true")

        var OPT1 = document.createElement('option');
        OPT1.setAttribute('value', "text");

        var OPT2 = document.createElement('option');
        OPT2.setAttribute('value', "date");
        var OPT3 = document.createElement('option');
        OPT3.setAttribute('value', "number");
        // OPT2.setAttribute('selected', 'selected');
        // also you can set use .selected as a property 
        // OPT2.selected = true;

        OPT0.appendChild( document.createTextNode( 'choose the label type' ) );
        OPT1.appendChild( document.createTextNode( 'text' ) );
        OPT2.appendChild( document.createTextNode( 'date' ) );
        OPT3.appendChild( document.createTextNode( 'number' ) );

        newinput2.appendChild(OPT0);
        newinput2.appendChild(OPT1);
        newinput2.appendChild(OPT2);
        newinput2.appendChild(OPT3);


        
        div.appendChild(newinput2);
        nameid+=1
        typeid+=1

        document.getElementById("counter").value=parseInt(nameid)
        
    }



</script>
</body>
</html>

<style>
    h1{
        display: flex;
        justify-content: center;
        font-family: Oswald;
    }
    body{
        display: flex;
        justify-content: center;
        background-color: gray;
    }
    .flexbox{
        font-family: Lora;
        display: flex;
        width: 600px;
        flex-direction: column;
        padding: 20px 20px 20px 20px;
        margin-bottom: 10px;
        background-color: lightgray;
    }
    /* .addfieldbox{
        display: flex;
        justify-content: center;
    } */

    .lastbox{
        display: flex;
        justify-content: space-around;
    }
    .divclasses{
        display: flex;
        width: 600px;
        flex-direction: column;
        padding: 10px 10px 10px 10px;
        /* background-color: lightgray; */

    }
    hr{
        border-top: 2px solid rgb(99, 142, 161);
        width: 100%; 
        margin: auto;
         margin-top:15px; 
         margin-bottom: 0px;
        
    }


</style>

